body {
background-color: rgb(101, 184, 159)

}
header {
height: 150px;
position: relative;
margin-top: 10px;
margin-bottom: 10px;
background-color: #0f0f0f;
box-shadow: 
      1px 1px 0 #ff00cc,
      2px 2px 0 #ff0099,
      3px 3px 0 #cc00ff,
      4px 4px 0 #9900ff,
      5px 5px 10px rgba(0,0,0,0.5); 
}

#titulofestival {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


#titulofestival h1 {
  height: calc(100%-38px);
  margin-top: 38px;
  display: flex;
  font-family: 'Shrikhand', cursive;
  font-size: 3.5em;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-align: center;
  align-items:center;

  color: #ff66cc;
  text-shadow:
    1px 1px 0 #ff00cc,
    2px 2px 0 #ff0099,
    3px 3px 0 #cc00ff,
    4px 4px 0 #9900ff,
    5px 5px 10px rgba(0,0,0,0.5);

  background: linear-gradient(45deg, #ff0080, #ff8c00, #40e0d0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: brilho-pop 3s infinite alternate;
}

@keyframes brilho-pop {
  0% {
    text-shadow:
      1px 1px 0 #ff00cc,
      2px 2px 0 #ff0099,
      3px 3px 0 #cc00ff,
      4px 4px 0 #9900ff,
      5px 5px 10px rgba(0,0,0,0.5);
  }
  100% {
    text-shadow:
      1px 1px 0 #ffd700,
      2px 2px 0 #ff1493,
      3px 3px 0 #00ffff,
      4px 4px 0 #ff00ff,
      5px 5px 15px rgba(255,255,255,0.8);
  }
}



nav {
  display: flex;
  justify-content: center;   
  align-items: center;      
  width: 100%;
  height: 38px;
  background-color: #ffd700;
  position: absolute;
  top: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
  box-shadow: 
      1px 1px 0 #ff00cc,
      2px 2px 0 #ff0099,
      3px 3px 0 #cc00ff,
      4px 4px 0 #9900ff,
      5px 5px 10px rgba(0,0,0,0.5);
  padding: 0; 
  margin: 0; 
position: relative;
}

nav ul {
  display: flex;
  gap: 20px;       
  padding: 0;     
  margin: 0;       
  list-style: none; 
}

nav li {
  text-align: center;  
}


.slideshow-container {
  position: relative;
  margin: px;
  width: 100%;
  height: 400px;
  overflow: hidden;
  box-shadow: 
    1px 1px 0 #ff00cc,
    2px 2px 0 #ff0099,
    3px 3px 0 #cc00ff,
    4px 4px 0 #9900ff,
    5px 5px 10px rgba(0,0,0,0.5);
  
  
}

.slides {
  display: flex;
  width: 100%;
  height: 100%;
  animation: slideAnimation 180s infinite;
}

.slide {
  width: 100%;
  flex-shrink: 0;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes slideAnimation {
  0% { transform: translateX(0%); }
  33.33% { transform: translateX(-100%); }
  66.66% { transform: translateX(-200%); }
  100% { transform: translateX(0%); }
}