body {
background-color: #0f1c2e;
width: 100%;
margin: 0;
padding: 0;
overflow-x: hidden;
box-sizing: border-box;
scroll-behavior: smooth;
margin-top: 50px;

}

header {
display: flex;
align-items: center;
padding: 20px 40px;
height: 5px;
overflow: hidden;
position: fixed;
top: 0;
left: 0;
width: 100%;
background-color: #0f1c2e; 
z-index: 1000; 

align-items: ;}



.titulofestival {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
  white-space: nowrap;
}

.titulofestival h1 {
  font-family: 'Audiowide', cursive;
  font-style: normal;
  font-size: 20px;
  letter-spacing: 5px;
  text-transform: uppercase;

  color: #00ffff;
  text-shadow:
    1px 1px 0 #00ccff,
    2px 2px 0 #0099ff,
    3px 3px 0 #0077cc,
    4px 4px 0 #0055aa,
    5px 5px 10px rgba(0,0,50,0.5);

  background: linear-gradient(45deg, #00ffff, #00bfff, #7f00ff, #00ffcc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: brilho-pop 3s infinite alternate;
}

@keyframes brilho-pop {
  0% {
    text-shadow:
      1px 1px 0 #00ccff,
      2px 2px 0 #0099ff,
      3px 3px 0 #0077cc,
      4px 4px 0 #0055aa,
      5px 5px 10px rgba(0,0,50,0.5);
  }
  100% {
    text-shadow:
      1px 1px 0 #00ffff,
      2px 2px 0 #00ffcc,
      3px 3px 0 #7f00ff,
      4px 4px 0 #8a2be2,
      5px 5px 15px rgba(200,255,255,0.8);
  }
}



nav {
  flex: 1;  
  width: 100%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
  padding: 0; 
  margin: 0; 

}

nav ul {
  display: flex;
  justify-content: space-between;    
  padding: 0;     
  margin: 0;       
  list-style: none; 
  width: 100%;
}

nav li {
  text-align: center;  
}

nav ul li {
flex: 1;
text-align: center;  
}

nav ul li a {
  display: inline-block;
  width: 100%; 
  color: #e0f7ff;
  text-shadow: 1px 1px 0 #3399ff;
  text-decoration: none;
  font-weight: bold;
  padding: 5px 10px;
  
}

nav ul li a:hover {
  background-color: #44193b79;
  color: ;
  border-radius: 5px;
}

#slideshow-container {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
  margin-top: 50px;
}

#slides {
  display: flex;
  width: 100%;
  height: 100%;
  animation: slideAnimation 30s infinite;
}

.slide {
  width: 100%;
  flex-shrink: 0;
  position: relative;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.texto-slide {
 position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #e0f7ff;
  font-size: 28px;
  font-weight: bold;
  text-shadow: 1px 2px 0 #3399ff;
  padding: 12px 24px;
  border-radius: 10px;
  text-align: center;
  font-family: 'Audiowide';
  font-style: normal;
  letter-spacing: 5px;
  text-transform:uppercase;
  margin: 0;
  line-height: 1;
  


}

@keyframes slideAnimation {
  0% { transform: translateX(0%); }
  25% { transform: translateX(-100%); }
  50% { transform: translateX(-200%); }
  75% { transform: translateX(-300%); }
  100% { transform: translateX(0%); }
}
.fraseefeito {
text-align: center;             
color: #e0f7ff;
text-shadow: 1px 1px 0 #3399ff;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 12px;
padding: 0; 
margin: 0;
letter-spacing: 3px;
line-height: 7px;
 
}

.destaque {
  font-family: 'Audiowide'; 
  font-size: 25px;
  font-weight: bold;
  font-style: normal;
  letter-spacing: 5px;
  text-transform:uppercase;
  line-height: 1; 
}

.ingressos{
  text-align: center;             
  color: #e0f7ff;
  font-family: 'Audiowide';
  padding: 10px;
  box-sizing: border-box;
  background-color: #0f1c2e;

}

.noticias {
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  background-color: #0f1c2e;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #e0f7ff;
  text-shadow: 1px 1px 0 #3399ff;
  width: 100%;
}
.sold-out {
  display: inline-block;
  margin-left: 10px;
  padding: 5px 12px;
  color:  #e0f7ff;
  background-color: #0f1c2e;
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
  font-family: 'Arial Black', sans-serif;
  border: 3px solid #e0f7ff;
  transform: rotate(-5deg);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 10px;

}

.corpodotexto {
  background-color: #0f1c2e;
  width: 100%;
  display: flex;         
  gap: 20px;              
  padding: 20px;
  box-sizing: border-box;
  justify-content: space-between;
}

.quadrolineup,
.datas, .ingressos {
  flex: 1;                          
  display: flex;
  flex-direction: column;           
  justify-content: flex-start;
  text-align: justify;             
  color: #e0f7ff;
  font-family: 'Audiowide';
  padding: 10px;
  box-sizing: border-box;
}

.datas, .quadrolineup, .ingressos p, .noticias p {
  text-align: center;

} 

.quadrolineup {
line-height: 2px;
}
.tituloscorpodotexto {

  font-family: 'Audiowide', cursive;
  font-style: normal;
  font-size: 15px;
  letter-spacing: 5px;
  text-transform: uppercase;
  text-align: center;

  color: #00ffff;
  text-shadow:
    1px 1px 0 #00ccff,
    2px 2px 0 #0099ff,
    3px 3px 0 #0077cc,
    4px 4px 0 #0055aa,
    5px 5px 10px rgba(0,0,50,0.5);

  background: linear-gradient(45deg, #00ffff, #00bfff, #7f00ff, #00ffcc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: brilho-pop 3s infinite alternate;
}

@keyframes brilho-pop {
  0% {
    text-shadow:
      1px 1px 0 #00ccff,
      2px 2px 0 #0099ff,
      3px 3px 0 #0077cc,
      4px 4px 0 #0055aa,
      5px 5px 10px rgba(0,0,50,0.5);
  }
  100% {
    text-shadow:
      1px 1px 0 #00ffff,
      2px 2px 0 #00ffcc,
      3px 3px 0 #7f00ff,
      4px 4px 0 #8a2be2,
      5px 5px 15px rgba(200,255,255,0.8);
  }

}


.headliners {

  font-family: 'Audiowide';
  font-style: normal;
  font-size: 20px;
  letter-spacing: 5px;
  text-transform:uppercase;
  margin: 0;
  line-height: 1px;
  
}

.outrosartistas {

font-family: 'Audiowide';
font-style: normal;
font-size: 15px;
letter-spacing: 2px;
text-transform: uppercase;
margin: 0;
line-height: 1;
}

.video {
  width: 100%;
  display: flex;         
  gap: 20px;              
  padding: 20px;
  justify-content:center;  
}

.sobre, .pageingressos {

width: 100%;                  
box-sizing: border-box; 
padding: 30px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: #e0f7ff;
text-shadow: 1px 1px 0 #3399ff;                         
display: flex;
flex-direction: column;           
justify-content: flex-start;
text-align: justify;             
font-size: 18px;  
}

table {
text-align: center;
}


.mapa-evento {
  width: 1000px;
  height: 700px;
  margin: 50px auto;
  position: relative;
  background-color:#e0f7ff;
  border: 2px solid #000;
    }

.palco {
position: absolute;
top: 20px;
width: 200px;
height: 80px;
background-color: #0f1c2e;
color:#e0f7ff;
text-align: center;
line-height: 80px;
font-weight: bold;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-style: normal;
font-size: 15px;
letter-spacing: 2px;
text-transform: uppercase;
}

.palco1 { left: 180px; }
.palco2 { right: 180px; }

.pista-premium {
position: absolute;
top: 100px;
left: 50px;
width: 890px;
height: 200px;
background-color: #7f00ff;
color:#e0f7ff;
text-align: center;
line-height: 200px;
font-weight: bold;
opacity: 0.9;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.pista {
position: absolute;
top: 302px;
left: 50px;
width: 890px;
height: 370px;
background-color: #00ccff;
text-align: center;
line-height: 350px;
font-weight: bold;
opacity: 0.9;
color:#0f1c2e;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
 
.fundoartistaslineup {
top: 5px;
padding: 30px;
left: 40px;
width: 800px;
height: 280px;
margin: 30px auto;
position: relative;
background-color:  rgba(0, 0, 0, 0.35);
}

.fundolineup {
top: 30px;
padding: 30px;
left: 40px;
width: 800px;
height: 500px;
margin: 30px auto;
position: relative;
background-color:  rgba(0, 0, 0, 0.35);
color: #e0f7ff;
}

.fundoingressos {
top: 5px;
padding: 30px;
left: 40px;
width: 800px;
height: 230px;
margin: 20px auto;
position: relative;
background-color:  rgba(0, 0, 0, 0.35);
}